 /* Universal Selector */

 *{
    margin: 0;
    padding: 0;
    
 }

 /* Element Selector */

 h1{
    background-color: aqua;
 }
 p{
    color: red;
 }

 /* Class Selector */
 .red{
    background-color: yellow;
 }

 /*ID Selector */
 #blue{
    background-color: blue;
 }